/*
    --aqua: #82ECFF;
    --black: #000000;
    --grey: #B8B8B8;
*/

* {
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: default;
}
/* HEADERS AND FOOTERS */
h1 {
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0px;
    opacity: 0;
    font-family: 'Open Sans', 'Trebuchet MS', 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 80px;
    color: black;
    letter-spacing: 2px;
    animation: fadein 0.4s forwards;
    animation-delay: 0.4s;
}
.myName { /* ANUPYA PAMIDIMUKKALA */
    padding-top: 90px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

footer{
    opacity: 0;
    font-size: 14px;
    bottom: 200px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0px;
    text-decoration: none;
    animation: fadein 1.5s forwards;
    animation-delay: 1.5s;
}

/* PARAGRAPHS AND BODY */
.bio {
    position: absolute;
    top: 500px;
    left: 0px;
    right: 0px;
    width: 75%;
    opacity: 0;
    font-family:'Courier', 'Courier New', 'Garamond', 'Times New Roman';
    font-weight: 300;
    font-size: 14px;
    color: black;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
    animation: fadein 1.5s forwards;
    animation-delay: 1.5s;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@keyframes fadein {
    0%   { opacity: 0; } 
    100% { opacity: 1; }
}

body { /* CHANGE BACKGROUND COLOR HERE TO CHANGE THE ACTUAL BACKGROUND */
    overflow: scroll;
    width: 100vh;
    height: 90vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}
.particles {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    height: 1000px;
    background-color: black;
}

#menu-icon img {
    opacity: 0;
    position: fixed;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 40px;
    margin: 6px 0;
    animation: fadein 2s forwards;
    animation-delay: 2s;
    cursor: pointer;
    display: block;
}
#menu-icon:hover {
    /* whatever happens here happens to the whole menu-icon */
}
#menu-icon:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 40px;
    height: 25px;
    width: 25px;
    display: block;
}
#menu-icon:hover #menu {
    display: block;
}
/* List Item Styles */
#menu-icon a {
    display: block;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', 'Trebuchet MS', 'Arial';
    font-size: 20;
}
#menu-icon a:hover {
    background: #B8B8B8;
}
#menu {
    display: none;
    top: 35px;
    right: 23px;
    position: fixed;
    text-decoration: none;
    cursor: pointer;
}
#menu-icon li {
    display: block;
    list-style: none;
    text-align: right;
    padding-top: 10px;
    width: 80px;
}

/* CONTACT ME */
.social {
    font-family: 'Open Sans', 'Trebuchet MS', 'Arial';
    padding: 10px;
    list-style: none;
    height: 60px;
    width: auto;
}
.social svg {
    transition: 200ms ease-out;
    width: 25px;
    height: 25px;
}
.social svg:hover {
    fill:white;
}
.social li {
    display: inline-block;
    padding: 10px;
}

h2 {
    opacity: 0;
    font-family: 'Open Sans', 'Trebuchet MS', 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    color: black;
    letter-spacing: 2px;
    animation: fadein 0.4s forwards;
    animation-delay: 0.4s;
    position: absolute;
    top: 500px;
    left: 0px;
    right: 0px;
}

.timeline {
  position: absolute;
  top: 800px;
  left: 0px;
  right: 0px;
}
.timeline::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1458530970867-aaa3700e966d") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(5) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1444093826349-9ce8c622f4f3") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(6) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1471479917193-f00955256257") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(8) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1466840787022-48e0ec048c8a") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(10) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1447639703758-f525f36456bf") center center no-repeat;
  background-size: cover;
}
.timeline-item:nth-child(11) .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://hd.unsplash.com/photo-1469429978400-082eec725ad5") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

/*
.header-organization {
    opacity: 0;
    position: absolute;
    top: 1000px;
    left: 0px;
    right: 0px;
    font-family: 'Open Sans', 'Trebuchet MS', 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    animation: fadein 1s forwards;
    animation-delay: 1s;   
    margin-bottom: 50px;
}

.header-organization.organization-container {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 500px;
    background: black;
    list-style: none;
}
.header-featured.organization-container ul {
    list-style: none;
}
.header-organization.organization-container li{
    top: 200px;
    left: 0px;
    right: 0px;
    cursor: pointer;
    display: inline-block;
    margin-top: 100px;
    flex-wrap: wrap;
    padding: 10px;
}

.header-featured {
    opacity: 0;
    position: absolute;
    top: 2000px;
    left: 0px;
    right: 0px;
    font-family: 'Open Sans', 'Trebuchet MS', 'Arial';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    animation: fadein 1s forwards;
    animation-delay: 1s;   
    margin-bottom: 50px;
}
.header-featured.featured-container {
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 1000px;
    background: black;
    list-style: none;
}
.header-featured.featured-container ul {
    list-style: none;
}
.header-featured.featured-container li {
    top: 200px;
    left: 0px;
    right: 0px;
    cursor: pointer;
    display: block;
    margin-top: 100px;
    flex-wrap: wrap;
    padding: 10px;
}
*/

/* COOL BORDER ANIMATION #7 in
https://webdesign.tutsplus.com/articles/15-inspiring-examples-of-css-animation-on-codepen--cms-23937
*/