/* HEADERS AND FOOTERS */
h1 {
    font-family:'Century Gothic', 'Roboto', 'Arial', 'Sans-Serif';
    font-style: normal;
    font-weight: 100px;
    font-size: 60px;
    font-stretch: extra-expanded;
    font-color: white;
    animation-name: logoAppears;
    animation-duration: 2s;
    background-color: black;
}
footer {
    border-top: 1px solid #000000;
    padding: 10px;
    font-size: 14px;
    font-color: white;
    text-decoration: none;
    background-color: black;
}

/* PARAGRAPHS AND BODY */
p {
    font-family:'Century Gothic', 'Roboto', 'Arial', 'Sans-Serif';
    font-weight: 100px;
    font-size: 16px;
    color: black;
    }
body {
    margin: 60px;
}

/* LINKS */
/* HOME, WORK, PLAY */
nav ul {
    font-family:'Century Gothic', 'Roboto', 'Arial', 'Sans-Serif';
    font-weight: 100px;
    font-size: 20px;
    font-stretch: expanded;
    color: #82ECFF;
    padding: 10px;
    float: right;
    list-style: none;
    text-decoration: none;
}
/* CONTACT ME */
footer ul {
    font-family:'Century Gothic', 'Roboto', 'Arial', 'Sans-Serif';
    font-weight: 50px;
    font-size: 10px;
    font-stretch: expanded;
    color: #;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}
a {
    color: #000000;
    }
a:hover {
    color: #82ECFF;
}
a:active {
    color: #82ECFF;
}

/* BORDERS */
p.borderMain {
    border: 2px dashed;
    border-color: #B8B8B8;
    padding: 40px;
}

/* IMAGES */
/*
img.logo {
    float: left;
    z-index: -1;
    left: 20px;
    top: 20px;
    position: absolute;
}
*/
img.social {
    height: 10px;
    width: 10px;
}

/* ANIMATIONS */
@keyframes logoAppears {
    from {background-color: black;}
    to {background-color: white;}
}