/* HEADERS AND FOOTERS */
h1 {
    font-size: 20pt;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* PARAGRAPHS AND BODY */
p {
    font-size: 12pt;
    line-height: 12pt;
    color: #333;
    }
body {
    margin: 60px auto;
    width: 70%;
}

/* LINKS */
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
    }
a:hover {
    text-decoration: underline;
}