<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<head>
		{% include_relative _includes/navbar.html %}
		<h2> WORK </h2>
		<h3> Organizations </h3>
	</head>
	<body>
	    <p> IN PROGRESS: work.html </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	</body>
	<head>
		<h3> Projects </h3>
	</head>
	<body>
		<p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	</body>
	<head>
		<h3>Awards</h3>
	</head>
	<body>
		<p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	    <p> IMAGE </p>
	</body>
	{% include_relative _includes/navbar.html %}
    {% include_relative _includes/footer.html %}
</html>
