<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no,user-scalable=no">
	<meta name="format-detection" content="telephone=no"><title>Anupya Pamidimukkala</title>
	<meta name="description" content="Personal website of Anupya Pamidimukkala - Hacker, Designer, Aspiring Entrepreneur based in Waterloo. Computer Science student at UWaterloo>
	<meta name="keywords" content="Mihir Mathur, Mihir, Mathur, hacker, Digital Designer, UCLA, los angeles, new delhi, Design,  Webdesigner, Engineer,president, product manager, Computer Science, henry samueli, hsseas ucla, acm, bruin, association for computing machinery, ucla acm, creative labs, bruin entrepreneurs, cs, github, la hacks, dps rohini, la, hacker, web application, nodejs, ux, user experience, Photoshop, UI, Media, Interactive, Interaction, Creative, User Experience, Visual, Online, Experience, Application, Mobile, Portfolio, Graphic Designer, motion graphics, video editing, youtube, fps, art history, english composition, art of listening ">
	<meta itemprop="name" content="Mihir Mathur">
	<meta itemprop="description" content="Personal website of Mihir Mathur - Hacker, Designer, Aspiring Entrepreneur based in Los Angeles. Computer Science student at UCLA">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://www.mihirmathur.com">
	<meta property="og:title" content="Mihir Mathur | Personal Website">
	<meta property="og:description" content="Personal website of Mihir Mathur - Hacker, Designer, Aspiring Entrepreneur based in Los Angeles. Computer Science student at UCLA">
	<meta property="og:image" content="/assets/me.jpg">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="canonical" href="http://www.mihirmathur.com">
	<title>Anupya Pamidimukkala</title>
</head>