<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="robots" content="all">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="Personal website of Anupya Pamidimukkala - Hacker, Designer, Aspiring Entrepreneur based in Waterloo. Computer Science student at UWaterloo">
	<meta name="keywords" content="Anupya Pamidimukkala, Symantec, iotum, software developer, c++, python, html, css, javascript, waterloo, designing, hacking, 
	photoshop, illustrator, indian, waterloo, university, undergraduate, anupya, pamidimukkala, coop, hire, student, graphic designer, adobe, imovie, 
	video editing, github, linkedin, ">
	<meta itemprop="name" content="Anupya Pamidimukkala">
	<meta itemprop="description" content="Personal website of Anupya Pamidimukkala - Hacker, Designer, Aspiring Entrepreneur based in Waterloo. Computer Science student at UWaterloo">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://anupya.github.io">
	<meta property="og:title" content="Anupya Pamidimukkala | Personal Website">
	<meta property="og:description" content="Personal website of Anupya Pamidimukkala - Hacker, Designer, Aspiring Entrepreneur based in Waterloo. Computer Science student at UWaterloo">
	<meta property="og:image" content="/assets/me.jpg">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="canonical" href="http://anupya.github.io">
</head>