---
layout: page
title: Work
---

<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <head>
        <h2> PLAY </h2>
        <canvas id="canvas"></canvas>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/assets/js/scroll.js"></script>
        <script src="/assets/js/particles.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

        <script type="text/javascript" src="/assets/js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="/assets/js/jcarousel.ajax.js"></script>

        <!-- adding captions to images -->

    </head>
    {% include navbar.html %}
    <body class="play">

        <!-- Love -->
        <section class="love">
            <div class="title"> I love...</div>
            <!--
            <div class="gallery-parent">
                <div class="gallery-container">
                    <div class="gallery">
                      <div class="gallery-cell" id="Harry Potter">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Japanese Dramas">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Riverdale">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="iPad Pencil">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Supernatural">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Badminton">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Fan Conventions">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Doctor Who">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Indian Food">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Chess">
                          <img src="/assets/images/sample.png">
                      </div>
                      <div class="gallery-cell" id="Bollywood">
                          <img src="/assets/images/sample.png">
                      </div>
                    </div>
                    <div class="clear"></div>
            </div>
            <div class="left"><img src="/assets/images/love-left.png"></div>
            <div class="right"><img src="/assets/images/love-right.png"></div>
            </div>
        -->
            <div class="jcarousel-wrapper">
                <div class="jcarousel" data-jcarousel="true">
                    <ul style="left: -303px; top: 0px;">
                        <li><img title="RIVERDALE" src="/assets/images/hp.png"></li>
                        <li><img title="APPLE PENCIL" src="/assets/images/jdrama.png"></li>
                        <li><img title="SUPERNATURAL" src="/assets/images/riverdale.png"></li>
                        <li><img title="BADMINTON" src="/assets/images/applepencil.png"></li>
                        <li><img title="FAN CONVENTIONS" src="/assets/images/spn.png"></li>
                        <li><img title="DOCTOR WHO" src="/assets/images/badminton.png"></li>
                        <li><img title="INDIAN FOOD" src="/assets/images/fanconventions.png"></li>
                        <li><img title="CHESS" src="/assets/images/doctorwho.png"></li>
                        <li><img title="BOLLYWOOD" src="/assets/images/indianfood.png"></li>
                        <li><img title="HARRY POTTER" src="/assets/images/chess.png"></li>
                        <li><img title="JAPANESE DRAMAS" src="/assets/images/bollywood.png"></li>
                    </ul>
                </div>
                <div class="image-caption"></div>
                <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true"><img src="/assets/images/love-left.png"></a>
                <a href="#" class="jcarousel-control-next inactive" data-jcarouselcontrol="true"><img src="/assets/images/love-right.png"></a>
            </div>
        </section>

        <script>
            jQuery('.jcarousel').jcarousel({
                wrap: 'circular',
                animation: 1000,
                auto: 3
            })
            jQuery('.jcarousel').jcarouselAutoscroll({
            interval: 2000,
            target: '+=1',
            autostart: true
            })
            
            $('.jcarousel').on('jcarousel:targetin', 'li', function(event, carousel)
              {
                  var title = $(this).find('img').attr('title');
                  if(true) $('.image-caption').html(title);
            });

        </script>
        <!--
        <script>
            $ ( function() {
                $(".gallery").draggable({
                    containment: ".gallery-container"
                });
            })
        </script>
        <script>
             document.getElementById(".gallery").addEventListener("scroll", function (event) {
             var newDiv = document.createElement("div");
                newDiv.innerHTML = "my awesome new div";
                document.getElementById(".gallery").appendChild(newDiv);
            });


            var checkForNewDiv = function () {
                var lastDiv = document.querySelector(".gallery > div:last-child");
                var maindiv = document.querySelector(".gallery");
                var lastDivOffset = lastDiv.offsetTop + lastDiv.clientHeight;
                var pageOffset = maindiv.offsetTop + maindiv.clientHeight;   
                if (pageOffset > lastDivOffset - 10) {
                    var newDiv = document.createElement("div");
                    newDiv.innerHTML = "my awesome new div";
                    document.getElementById(".gallery").appendChild(newDiv);
                    checkForNewDiv();
                }
            };

            checkForNewDiv();
        </script>
        -->

        <!-- MAKE LOVE INFINITE SCROLL 
            https://www.sitepoint.com/jquery-infinite-scrolling-demos/
            http://jsfiddle.net/8LpFR/2/

        -->
    <!--
        <script>
            jQuery(".gallery").draggable({ 
            cursor: "move", 
            containment: ".gallery-parent",
            /* function that actually enables the dragging */
            start: function() {
                if(jQuery(".gallery").position().left < 1)
                    jQuery(".gallery").css("left", "100px");
            }
            stop: function() {
              if(jQuery(".gallery").position().left < 1)
                  jQuery(".gallery").css("left", "720px");
            }
        });
        </script>
    -->
        <!--
        <script>
            jQuery("#child").draggable({ 
            axis: "x",
            cursor: "move", 
            containment: "parent",
            stop: function() {
              if(jQuery("#child").position().right < 1)
                  jQuery("#child").css("left", "10px");
            }
        });
        </script>
    -->
        <!-- Book Reviews -->
        <section class="book-reviews">
            <div class="bookshelf--frame">
                <div class="title"> I write reviews!</div>
                 
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/word_out_2014/2014/05/war-is-a-fire-that-touches-every-man-allies-and-assassins-by-justin-somper-reviewed.html" target="_blank" id="allies-and-assassins">
                            <img src="/assets/images/allies.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="https://sites.google.com/site/tennantianmentreviewers/wimpykid/welcometothewimpyverse" target="_blank" id="broadchurch">
                            <img src="/assets/images/broadchurch.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/teens/2016/07/are-you-happy.html" target="_blank" id="make-happy">
                            <img src="/assets/images/make-happy.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/teens/2016/07/what-would-dory-do.html" target="_blank" id="finding-dory">
                            <img src="/assets/images/finding-dory.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/word_out_2014/2014/05/i-refuse-to-be-a-tortoise-hung-up-by-kristen-tracy-reviewed.html" target="_blank" id="hung-up">
                            <img src="/assets/images/hung-up.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/word_out_2014/2014/08/idols-by-margaret-stohl-reviewed-by-anupya-age-15-how-do-we-fit-together-these-men-who-call-us-children-yet-insist-w.html" target="_blank" id="idols">
                            <img src="/assets/images/idols.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/word_out_2014/2014/07/just-like-the-movies-by-kelly-fiore-i-dont-know-if-there-are-17-year-old-girls-centring-their-lives-on-a-guy-and-who-cal.html" target="_blank" id="just-like-the-movies">
                            <img src="/assets/images/just-like.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/word_out_2014/2014/07/nantucket-red-by-leila-howland-reviewed-by-anupya-maybe-love-existed-in-the-spaces-in-between-cricket-elizabeth-th.html" target="_blank" id="nantucket-red">
                            <img src="/assets/images/nantucket.png">
                        </a>
                    </div>
                    <div class="book-wrapper">
                        <a href="http://torontopubliclibrary.typepad.com/word_out_2014/2014/08/the-secrets-of-lily-graves-by-sarah-strohmeyer-reviewed-by-anupya-age-15-more-often-than-not-it-was-the-little-thin.html" target="_blank" id="secrets-of-lily-graves">
                            <img src="/assets/images/secrets-of-lily-graves.png">
                        </a>
                    </div>

            </div>
        </section>
    </body>

    {% include footer.html %}
</html>
                        