---
layout: page
title: Work
---

<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<head>
		<h2> WORK </h2>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
		<script src="/assets/js/scroll.js"></script>
	</head>
	<body class="work">
		{% include navbar.html %}

	<section class="timeline">
	  <div class="title">Jobs I've had!</div>
	  	<div class="container">
		  	<div class="timeline-item">
		  		<div class="timeline-dot"></div>

			    <div class="timeline-content js--fadeInRight">
			     	<div class="org-title"> Symantec </div>
			        <a href="https://www.symantec.com/" target="_blank" id="symantec">
			    		<img src="/assets/images/symantec.png">
			    	</a>
			        <div class="date">Jan 2018 - Apr 2018</div>
			        <p>Full-Time Quality Assurance Analyst</p>
			    </div>
	  		</div>  
		    <div class="timeline-item">
		    	<div class="timeline-dot"></div>

		      	<div class="timeline-content js--fadeInLeft">
			        <div class="org-title"> Iotum </div>
			       	<a href="https://www.iotum.com/" target="_blank" id="iotum">
			    		<img src="/assets/images/iotum.png">
			    	</a>
			       	<div class="date">May 2017 - August 2017</div>
			        <p>Full-Time Quality Assurance Analyst and Graphic Designer</p>
		      	</div>
		    </div> 
	  </div>
	</section>

	<section class="featured">
		<div class="title">Projects</div>
		<div class="container">
			<!--
			<div class="featured-item">
				<a href="https://www.github.com/anupya/StaffDepot" target="_blank" >
					<img src="/assets/images/StaffDepot.png">
				</a>
			</div>
			-->
			<div class="featured-item">
				<img src="/assets/images/quadris.png">
				<div class="overlay">
					<div class="header">QUADRIS</div>
					<div class="text">A version of Tetris developed for the CS246 final project. 
					</div>
				</div> 
			</div>
			<div class="featured-item">
				<a href="https://www.youtube.com/watch?v=Utw9QRVpE8g" target="_blank" >
					<img src="/assets/images/bigDataChallenge.png">
					<div class="overlay">
						<div class="header">BIG DATA CHALLENGE </div>
						<div class="text">Developed a solution for various problems in the city by using data analysis of the City of Toronto's worksheets and SAS.
						</div>
					</div> 
				</a>
			</div>
			<div class="featured-item">
				<a href="http://journal.stemfellowship.org/doi/abs/10.17975/sfj-2015-006" target="_blank" >
					<img src="/assets/images/tvShows.png">
					<div class="overlay">
						<div class="header">STEM FELLOWSHIP </div>
						<div class="text">Collected tweets about popular TV shows using Python and Twitter API and wrote a research paper discussing the results. 
						</div>
					</div> 
				</a>
			</div>
		</div>
		</div>
	</section>

	<section class="awards">
		<div class="container">
			<div class="awards-item">

			</div>
		</div>
	</section>
	</body>

    {% include footer.html %}
</html>
