---
layout: page
title: Work
---
<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="/text/Javascript" href="/assets/js/effects.js">
	<head>
		<h2> WORK </h2>
	</head>
	<body>
		{% include navbar.html %}
		<h3> Organizations </h3>
		<div class="organization-container" data-aos="fade up">
			<div class="boxes">
				<ul id="row1">
				    <li><a href="https://www.iotum.com/" target="_blank">
				    	<img src="/assets/images/iotum.png"></a></li>
				    <li><a href="https://www.symantec.com/" target="_blank">
				    	<img src="/assets/images/symantec.png"></a></li>
				    <li><a href="https://www.torontopubliclibrary.ca/" target="_blank">
				    	<img src="/assets/images/tpl.png"></a></li>
				</ul>
				<ul id="row2">
					<!-- for the future -->
				</ul>
		 	</div>
		</div>
		<h3> Projects </h3>
		<div class="projects-container" data-aos="fade up">
			<div class="boxes">
				<ul id="row1">
				    <li><a href="https://www.iotum.com/" target="_blank">iotum</a></li>
				    <li><a href="https://www.symantec.com/" target="_blank">symantec</a></li>
				    <li><a href="https://www.torontopubliclibrary.ca/" target="_blank">tpl</a></li>
				</ul>
				<ul id="row2">
					<!-- for the future -->
				</ul>
		 	</div>
		</div>

		<h3>Awards</h3>
		<div class="awards"-container" data-aos="fade up">
			<div class="boxes">
				<ul id="row1">
				    <li><a href="https://www.iotum.com/" target="_blank">iotum</a></li>
				    <li><a href="https://www.symantec.com/" target="_blank">symantec</a></li>
				    <li><a href="https://www.torontopubliclibrary.ca/" target="_blank">tpl</a></li>
				</ul>
				<ul id="row2">
					<!-- for the future -->
				</ul>
		 	</div>
		</div>
	</body>
	
    {% include footer.html %}
</html>
