---
layout: page
title: Work
---

<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="/text/Javascript" href="/assets/js/effects.js">
	<head>
		<h2> WORK </h2>
	</head>
	<body>
		{% include navbar.html %}
		<h3> Organizations <br></br>
			<div class="organization-container">
				<ul id="row1">
				    <li>
				    	<a href="https://www.iotum.com/" target="_blank" id="iotum">
				    		<img src="/assets/images/iotum.png">
				    	</a>
				    </li>
				    <li>
				    	<a href="https://www.symantec.com/" target="_blank" id="symantec">
				    		<img src="/assets/images/symantec.png">
				    	</a>
				    </li>
				    <li>
				    	<a href="https://www.torontopubliclibrary.ca/" target="_blank" id="tpl">
				    		<img src="/assets/images/tpl.png">
				    	</a>
				    </li>
				</ul>
				<ul id="row2">
					<!-- for the future -->
				</ul>
			</div>
		</h3>
	</body>

    {% include footer.html %}
</html>
