<!DOCTYPE html>
<html>
    <head>
        <!-- <title>{{ page.title }}</title> -->
        <!-- link to main stylesheet -->
        <h1 class="myName">ANUPYA <br></br> </h1>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        {% include background.html %}
        {% include navbar.html %}
    </head>

    <body>
        <!--<img src="/assets/images/logo.jpg" id="logo"> -->
        <!-- copy-pastes contents of the file that starts with layout: default -->
        {{ content }}
        <br></br>
        {% include footer.html %}
    </body>
</html>
