<!DOCTYPE html>
<html>
        
    <head>
        <img id="bg" src="/assets/images/bg.jpg">
        <!-- <title>{{ page.title }}</title> -->
        <!-- link to main stylesheet -->
        <h1 class="myName">Hi! I'm Anupya.<br></br></h1>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>

    <body>
        <!--<img src="/assets/images/logo.jpg" id="logo"> -->
        <!-- copy-pastes contents of the file that starts with layout: default -->
        {{ content }}

        <br></br>
        {% include footer.html %}
    </body>
</html>
