<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
            </head>
    <body>
        <!--<img src="/assets/images/logo.jpg" id="logo"> -->
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/work">Work</a></li>
                    <li><a href="/play">Play</a></li>
                </ul>
            </nav>
            <div class="container">
                
                <!-- copy-pastes contents of the file that starts with layout: default -->
                {{ content }}
                
            </div>
            <footer>
                <ul>
                    <li><a href="mailto:anupya@hotmail.ca"><img src="/assets/images/mail.png" id="social"></a></li>
                    <li><a href="https://linkedin.com/in/anupya"><img src="/assets/images/linkedin.png" id="social"></a></li>
                    <li><a href="https://github.com/anupya"><img src="/assets/images/github.png" id="social"></a></li>
                </ul>
            </footer>
            </body>
</html>
